
<img id="logo-inicio" class="img-fluid rounded mx-auto d-block" src="../../../../assets/img/logo.png">

<div class="row">
  <div class="col-md-4 offset-md-4">

    <div class="form bg-blue-ih p-3 mx-4">

      <span *ngIf="loginErro" class="text-danger"> Erro ao logar, por favor tente novamente!</span>

      <form class="my-4" (submit)="login()">

        <div class="col-12">
          <mat-form-field appearance="outline">
            <mat-label class="text-light">Login</mat-label>
            <input matInput [(ngModel)]="credentials.username" name="username" class="text-light">
          </mat-form-field>
        </div>

        <div class="col-12">
          <mat-form-field appearance="outline">
            <mat-label class="text-light">Senha</mat-label>
            <input matInput [(ngModel)]="credentials.password" name="password" 
              (keyup)="onKey($event)" type="password"  class="text-light">
          </mat-form-field>
        </div>

        <div class="col-12 text-center mt-3">
          <button mat-raised-button 
          *ngIf="!carregando; else spinner"
           class="btn btn-block bg-orange-ih text-light" 
            (click)="login()">
            ENTRAR
          </button>
        </div>

        <ng-template #spinner>
          <div class="spinner-border m-3" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </ng-template>
      </form>
    </div>

    <div class="col-12 mt-5">
      <button mat-button class="btn btn-block text-blue" 
        (click)="inscricao()">
        NOVA CONTA
      </button>
    </div>
  </div>
</div>
