mat-expansion-panel-header {
  height: 64px !important;
}

mat-expansion-panel {
  margin-bottom: 12px !important;
}

mat-action-row {
  border-top-style: unset !important;
}

.icone-check {
  font-size: 26px;
  font-weight: 900;
}

.titulo-exercicio {
  font-size: 18px;
  font-weight: 900;
}

.bg-visualizado {
  background: #f7c4a2 !important;
}

.btn-exercicio {
  height: 48px !important;
}

