@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~@angular/material/theming';
@include mat-core();

$my-app-primary: mat-palette($mat-blue, 750);
$my-app-accent:  mat-palette($mat-deep-orange, 500, 900, A100);
$my-app-warn:    mat-palette($mat-deep-orange);
$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);
@include angular-material-theme($my-app-theme);
.alternate-theme {
  $alternate-primary: mat-palette($mat-light-blue);
  $alternate-accent:  mat-palette($mat-yellow, 400);
  $alternate-theme: mat-light-theme($alternate-primary, $alternate-accent);
  @include angular-material-theme($alternate-theme);
}

@import '~bootstrap/scss/bootstrap.scss';

$bg-gray-ih: #edebeb;

html, body { 
  height: 100%;
  background-color: $bg-gray-ih;
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-vertical-stepper-header {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.mat-expansion-panel-body {
  padding: 0 !important;
}

.text-blue {
  color: #5661ac !important;
}

.text-orange {
  color: #e97729 !important;
}

.text-700 {
  font-weight: 700 !important;
}


mat-form-field {
  width: 100% !important;
}

.bg-gray-ih { 
  background-color: $bg-gray-ih;
}

.bg-blue-ih {
  background-color: #5661ac;
}

.bg-orange-ih {
  background-color: #e97729;
}

#logo-inicio {
  width: 200px;
}
